page-ponente-detalle {

  ion-content{
    background-color: #F1F2F2 !important;
    background-image: none;
  }




.divAvatar{
background-color: color($colors,secondarydw);
text-align: center;
max-height: 55%;
img {
  width: 150px;
      height: 150px;
      margin-top: 10px;
      border-radius: 50%;
      border: 5px solid white;
}
h2{
margin-top: 0px;
font-size: 2.4rem;
margin-bottom: 0;
font-weight: bold;
color:color($colors,fourthdw) !important;
}

}
.container {
  .input-wrapper{
    text-align: center;
  }
}
p{
  color:color($colors,fontprimary) !important;
}
ul {
  padding: 0px;

  &.rating li {
    padding: 5px 10px !important;
    background: none;
    color: color($colors,primarydw) !important;
    ion-icon {
      font-size: 40px;
    }

  }

}
}
