page-ponente-detalle {
  ion-footer{
    //background-color: color($colors,primarydw);
  }
h1,h2{
  font-family: handlee;
  color:color($colors,fourthdw);
 margin-top: 0px;
}
  ion-content{
    p {
      color: color($colors,fourthdw);
    }
// background-color: whitesmoke !important;
  }
.rating{
  background-color: transparent !important;
  text-align: center;
}

ul {
  padding: 0px;
  &.rating li {
    padding: 0px !important;
    background: none;
    color: color($colors,fourthdw) !important;
    ion-icon {
      font-size: 40px;
    }

  }

}
}
