page-login {
	.inputLogin{
		color:black
	}
	label-floating .text-input {
    margin-left: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    width: calc(100% - 8px);
    color: black !important;
}
	.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: black;

}
.label-ios[floating] {
	color:#861316 !important;
}
	.logo {
    padding: 20px 0;
    min-height: 200px;
    text-align: center;

    img {
      max-width: 250px;
    }
  }
	.logoSeven{
		text-align: center;
		img{
			min-width:200px;
		}
	}
	.item-md{
		background-color: transparent;
	}
	.item-ios {
    padding-left: 16px;
    border-radius: 0;
    position: relative;
    font-size: 1.7rem;
    color: white;
    background-color: transparent;
    transition: background-color 200ms linear;
}
.button-outline-ios-light {
    border-color: #f4f4f4;
    color: black;
    background-color: transparent;
}

img {
	max-width: 70%;
margin-top: 0px;
}
#divLogo {
	top:0px;
	position: absolute;
}
	ion-card.card {
		box-shadow: none;
		background: rgba(0, 0, 0, 0.5);
		border-radius: 5px;
	}

	a, p,
	ion-card-header.card-header {
		color: #fff!important;
	}

	.list > .item-block:first-child {
		border: medium none;
	}
input {
	font-weight: 400;
}

}
