page-register {
  ion-content{
     background-color: color($colors,secondarydw) !important;
  }
   background-color: color($colors,secondarydw) !important;
  .logo{
		min-width: 250px;
	}
	.login-content {
		ion-icon {
		    display: inline-block;
		    font-size: 1.8em;
		}

//
//     .login-box {
// padding: 20px 20px 0px 20px;
// margin-top: -10px;
// background-color: rgba(144,120,66,0.5);
// border-radius: 20px;
//     }

    ion-row {
       align-items: center;
       text-align: center;
     }



     .item-inner {
       box-shadow: none !important;
     }

    //  .submit-btn {
    //    background: #EBCBAE;
    //    border-radius: 30px !important;
		// 	 color:#8F8787 !important;
    //  }
		 button[disabled], [ion-button][disabled] {
		     opacity: 0.8 !important;
		 }
     .register-btn {
       color: #ffffff;
       font-size: 0.8em;
			 text-decoration: underline;
     }
   }
 }
//   .logoSeven{
//     text-align: center;
//     padding-bottom: 25px;
//     img{
//       min-width:200px;
//     }
//   }
//   .item-ios {
//       padding-left: 16px;
//       border-radius: 0;
//       position: relative;
//       font-size: 1.7rem;
//       color: #000;
//       background: rgba(0, 0, 0, 0.2);
//       transition: background-color 200ms linear;
//       border-radius: 5px;
//       margin-bottom: 5px;
//       padding-bottom: 0px;
//   }
//   .item-md {
//     background-color: rgba(0, 0, 0, 0.6) !important;
// }
// item-md {
//     padding-left: 16px;
//     padding-right: 0;
//     margin-bottom: 2px;
//     position: relative;
//     font-size: 1.6rem;
//     font-weight: normal;
//     text-transform: none;
//     color: #000;
//     background-color: #fff;
//     box-shadow: none;
//     transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
//     margin-bottom: 5px;
// }
// .item-block {
//     margin: 5px;
//     padding: 0;
//     text-align: initial;
//     display: -webkit-flex;
//     display: -ms-flexbox;
//     display: flex;
//     overflow: hidden;
//     -webkit-align-items: center;
//     -ms-flex-align: center;
//     align-items: center;
//     -webkit-justify-content: space-between;
//     -ms-flex-pack: justify;
//     justify-content: space-between;
//     width: 100%;
//     min-height: 4.4rem;
//     border: 0;
//     font-weight: normal;
//     line-height: normal;
//     text-decoration: none;
//     color: inherit;
// }
// .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
//     color: black !important;
// }
