page-sponsor-detaill {
  ion-footer{
  //  background-color: color($colors,primarydw);
  }
  ion-content {
    //  background-color: #F1F2F2 !important;
    //  background-image: none;
  }
  h1,h2{
    font-family: handlee;
    color:color($colors,fourthdw);
  }
  ion-item{
  color:color($colors,fourthdw) !important;
    background-color: transparent !important;
  }
  p{
    font-family: OpenSans-Light;
    text-align: justify;
    color:color($colors,fourthdw);
  }
//aa

  .profile-body{
    .social{
      width:100%;

    }
  }
  .profile-media{
    img {
      width: 180px;
      height: 180px;
    }
  }
}
