<!--
Generated template for the ChatPage page.
See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primarydw">
    <ion-title>Chat</ion-title>
    <button color="light" ion-button icon-only menuToggle>
  <ion-icon name="menu"></ion-icon>
</button>
  </ion-navbar>

</ion-header>

<ion-content padding>


  <div id="chatMessages">
    <!-- <ion-list>
		<ion-item class="text" *ngFor="let message of messages | async">
			{{message.message | json}}
		</ion-item>
	</ion-list> -->
    <div *ngFor="let message of messages | async">
      <ion-item>

        <div [class]="message.username == username ? 'innerMessage messageRight' : 'innerMessage messageLeft'">
          <ion-avatar item-start>
              <img src="assets/user.jpg">
            </ion-avatar>
          <div class="username">{{ message.username }}</div>
          <div class="messageContent"><p>{{ message.message }}</p></div>
          <div class="messagetime">{{ message.time }}</div>
        </div>
      </ion-item>

    </div>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <div id="footer">
      <div class="elem"><ion-input type="text" [(ngModel)]="message"></ion-input></div>
      <div class="elem"><button ion-button icon-only (click)="sendMessage()"><ion-icon name="send"></ion-icon> </button></div>
    </div>
  </ion-toolbar>
</ion-footer>
