page-chat {

	.innerMessage {
		display: inline-block;
		padding: 5px 10px;
		background-color: color($colors,fourthdw);
		margin: 5px;
		//color: color($colors,thirddw);
		border-radius: 3px;
		min-width: 200px;

	}
	.innerMessage.messageRight {
		.messageContent{

		}
		background-color: #D6F8C6;
	}
	.username {
		font-weight: 400;
		font-size: 9pt;
	}

	.elem button {
	    border-radius: 0;
	    margin: 0;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
	.elem {
		position: relative;
		min-width: 50px;
	}
	div#footer div.elem:first-child {
	    flex-grow: 1;
	}
	div#footer {
	    display: flex;
	    flex-direction: row;
	    align-items: stretch;
			height: 60px;
		background-color: white;
	}

	ion-input{
		padding-left: 15px;
		font-size: 125%;
	}
	ion-toolbar {
		margin: 0;
		padding: 0!important;
	}
	.message:after {
		content: '';
		display: block;
		clear: both;
	}
	.messageLeft {
		float: left;
		float: left;
		font-size: 15pt;
	}
	.messageRight {
		float: right;
		font-size: 15pt;
		background-color: color($colors,secondarydw);
		color:white;
	}

	.message.special .innerMessage .messageContent{
		display: inline-block;
		padding: 0 10px;
	}

	.message.special .innerMessage:before{
		content: '';
		height: 2px;
		background: color($colors,"secondarydw");
		display: block;
		top: 50%;
		position: absolute;
		left: 0;
		width: 100%;
		z-index: -1;
	}

	.message.special .innerMessage{
		background: transparent;
		//color: black;
		font-size: 80%;
		width: 100%;
		float: none;
		text-align: center;
		position: relative;
	}
	.message.special{
		max-height: 35px;
	}
	.messagetime{
		text-align: right;
		font-size: 7pt;
	}
	ion-item{
		background-color: transparent !important;
	}
}
