<!--
  Generated template for the EventDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <!-- <ion-navbar color="primarydw">
    <ion-title>{{thisEvent.rev_desc}} </ion-title>
  </ion-navbar> -->

</ion-header>

<ion-content>

  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12 text-center>
        <div class="profile-media">
        <img [src]="'data:image/jpg;base64,'+thisEvent.rev_foto | image" />
      </div>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col col-12>
        <marquee  scrolldelay="20" scrollamount="5" direction="left" loop="infinite">
           <img *ngFor="let sponsor of sponsors" [src]="'data:image/jpg;base64,'+sponsor.pat_foto | image" (click)="goSponsor(sponsor)" />
        </marquee>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
          <ion-row>
            <ion-col col-4 text-center (click)="goAgenda()">
            <button ion-button clear color="fourthdw">
            <i class="fa fa-book fa-3x" aria-hidden="true"></i>
            </button>
            <div class="menuTitle">
              Agenda
            </div>
            </ion-col>
            <ion-col col-4 text-center  (click)="goPonents()">
                  <button  ion-button clear color="fourthdw" >
                  <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                  </button>
                  <div class="menuTitle">
                    Speakers
                  </div>
            </ion-col>
            <ion-col col-4 text-center (click)="goLocation()">
                <button  ion-button clear color="fourthdw" >
                <i class="fa fa-location-arrow fa-3x" aria-hidden="true"></i>
                </button>
                <div class="menuTitle">
                Ubicación
                </div>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-4 text-center (click)="goSponsors()">
                  <button  ion-button clear color="fourthdw">
                      <i class="fa fa-handshake-o fa-3x" aria-hidden="true"></i>
              </button>
              <div class="menuTitle">
              Sponsors
              </div>
            </ion-col>
            <ion-col col-4 text-center *ngIf="loggued" (click)="goChat()">
              <button  ion-button clear color="fourthdw" >
            <i class="fa fa-weixin fa-3x" aria-hidden="true"></i>
            </button>
            <div class="menuTitle">
            Chat
            </div>
            </ion-col>
              <ion-col col-4 *ngIf="loggued" text-center (click)="goEncuesta()">
                <button  ion-button clear color="fourthdw" >
                <i class="fa fa-question-circle fa-3x" aria-hidden="true"></i>
            </button>
            <div class="menuTitle">
              Encuesta
            </div>
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12>
                <p text-justify>
                      {{thisEvent.rev_obse}}
              </p>


              </ion-col>
            </ion-row>
        </ion-grid>
</ion-content>
<ion-footer>
  <div class="footer">
    <div class="img">
  <img src="assets/logooscuro.png"><br>
  <p>SEVEN ERP©1992-2017 Digital Ware</p>
    <p>Versión 17.10.01.01</p>
</div>
</div>
</ion-footer>
