

page-event-details{

  .label-ios {
      margin: 5px 8px 5px 0;
  }

  .label-md {
      margin: 5px 8px 5px 0;
  }
  ion-footer{
  //  background-color: color($colors,primarydw);
  }
      p{
      color:color($colors,fourthdw) !important;
      }
      // ion-content {
      // background-color: color($colors,primarydw) !important;
      // }
      ion-item-divider{
      background-color: transparent !important;
      border-bottom: 0px !important;
      // color:white !important ;
      }

      marquee{
      margin:5px 5px 0px 5px;
      height: 55px;
      width: 100%;
      background-color: color($colors,secondarydw);
      border-radius: 20px;
      img{
      height:55px;
      width:auto !important;
      animation: marquee 20s linear infinite;
      //   border-right: 1px solid color($colors,primarydw);
      }
      }
      .menuTitle{
    //  background-color: color($colors,fourthdw);
      color:color($colors,fourthdw);
    //  border-bottom-left-radius: 10px;
  //    border-bottom-right-radius: 10px;
      font-weight: bold;
      margin-top: -35px;
      }
      .menu{
      font-weight: bold;
      }
      .marquee-content {
      background-color: color($colors,fourthdw);
      }

      .item-ios.activated{
      background-color: transparent;
      opacity: 0.5 !important;

      }
      .item-inner{
      border-bottom: 0px !important;
      }
      .item-block{
      background-color: transparent !important;
      text-align: center;
      }
    .profile-media{
      img{
        margin:0px;
        max-width: 100% !important;
        // max-height: 50%;
        border-radius: 0% !important;
        border: 0px solid !important;
        border-color: color($colors,primarydw);
      }
    }
    .logo-agenda {
    background: url(../assets/agenda.svg) no-repeat top left;
    background-size: contain;
    font-size: 4rem;
}
.logo-speaker {
background: url(../assets/speakers.svg) no-repeat top left;
background-size: contain;
font-size: 4rem;
}
.logo-chat {
background: url(../assets/chat.svg) no-repeat top left;
background-size: contain;
font-size: 4rem;
}
.logo-encuesta {
background: url(../assets/encuesta.svg) no-repeat top left;
background-size: contain;
font-size: 4rem;
}
.logo-localizacion {
background: url(../assets/location.svg) no-repeat top left;
background-size: contain;
font-size: 4rem;
}
.logo-patrocinador {
background: url(../assets/sponsors.svg) no-repeat top left;
background-size: contain;
font-size: 4rem;
}
.logo-login {
background: url(../assets/login.svg) no-repeat top left;
background-size: contain;
font-size: 4rem;
}
.logo-sign {
background: url(../assets/sign.svg) no-repeat top left;
background-size: contain;
font-size: 4rem;
}
}
