page-event-details{
  .content-ios{
    background-color:#f2f2f2 !important;
  }
  .content-md {
    color: #000;
    background-color: #f2f2f2;
}
ion-content{

    background-image:none !important;
}
.item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input, .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input {
    margin-left: 5px;
}
.label-md {
  margin: 0px;
}
.item-md.item-block .item-inner {
    padding-right: 0px;
}
  marquee{
    img{
      height:75px;
      max-width:160px;
       animation: marquee 20s linear infinite;
       background-color: #f2f2f2;
    }

  }
[col-6] {

  background-color: #002063;
  border:1px solid #f2f2f2;
  border-radius: 5px;
ion-label{
  color:white;
}
.item-md{
 background-color: #002063 !important;
}
}
  .card-md p {
    color: black;
    font-size: 12pt;
    font-family: arial;
}
  .card-ios {
       margin: 0px;
      /* border-radius: 2px; */
      width: 100%;
      /* font-size: 1.4rem; */
      background: #f2f2f2;
      box-shadow: none;
  }

  .item-ios{

padding-left: 16px;
border-radius: 0;
position: relative;
font-size: 1.7rem;
color: black;
background-color: transparent;
transition: background-color 200ms
  }
  .card-ios p {
      margin: 0 0 2px;
      font-size: 1.4rem;
      font-family: sans-serif;
      color: black;
  }
  .card-md {
    min-width: 100%;
    margin:0px;
    font-size: 1.4rem;
    background: #f2f2f2;
    box-shadow: none;
    p {
        color: black;
    }
}
#encabezado {
  max-height: 35%;
}
.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 55%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #861316;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 70%;
    width: 100%;
    color: #861316;
  }
  .item > ion-icon, .item-inner > ion-icon{
    font-size: 45px;
  }
}
}
