

page-event-details{
  ion-footer{
    background-color: color($colors,primarydw);
  }
      p{
      color:color($colors,fourthdw) !important;
      }
      ion-content {
      background-color: color($colors,primarydw) !important;
      }
      ion-item-divider{
      background-color: transparent !important;
      border-bottom: 0px !important;
      // color:white !important ;
      }

      marquee{
      height: 55px;
      width: 100%;
      background-color: color($colors,fourthdw);
      border-radius: 20px;
      img{
      height:55px;
      width:auto;
      animation: marquee 20s linear infinite;
      //   border-right: 1px solid color($colors,primarydw);
      }
      }
      .menuTitle{
      background-color: color($colors,fourthdw);
      color:color($colors,thirddw);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      font-weight: bold;
      }
      .menu{
      font-weight: bold;
      }
      .marquee-content {
      background-color: color($colors,fourthdw);
      }

      .item-ios.activated{
      background-color: transparent;
      opacity: 0.5 !important;

      }
      .item-inner{
      border-bottom: 0px !important;
      }
      .item-block{
      background-color: transparent !important;
      text-align: center;
      }

}
