page-ask {
  .element {
    font-weight: bold;
padding-left: 5px;
min-height: 40px;
background-color: #49afbc;
color: white;
font-size: 20px;
ion-label{
  margin:0px !important;
  padding-top: 5px;
  white-space: normal;

}
  }
}
