page-ask {
  ion-footer{
  //  background-color: color($colors,primarydw);
  }
  .content-ios{
    background-color:inherit !important;
  }
  .content-md{
    background-color:inherit !important;
  }
  button.enviar{
font-size: 1.5rem;
font-weight: bold;
color:color($colors,fourthdw);
bottom: 0px;
position: absolute;
  }

  ion-label{
    margin:0px !important;
    padding-top: 5px;
    white-space: normal;

  }
  ion-list{
    margin:0px !important;
  }
  .item-divider-md{
        background-color: #f7f7f7 !important;
  }
  ion-item{
  //  background-color: color($colors,light) !important;
  }

}
