page-ask {
  button.enviar{

    color:color($colors,fourthdw);
  }

  ion-label{
    margin:0px !important;
    padding-top: 5px;
    white-space: normal;

  }
  ion-list{
    margin:0px !important;
  }
  .item-divider-md{
        background-color: #f7f7f7 !important;
  }
  ion-item{
  //  background-color: color($colors,light) !important;
  }

}
