<!--
  Generated template for the AskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primarydw">
    <ion-title>Encuesta</ion-title>
    <button color="light" ion-button icon-only menuToggle>
  <ion-icon name="menu"></ion-icon>
  </button>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
    <ion-item-group *ngFor="let question of questions;let i=index">
      <!-- <div class="element">
        <p class="titulo">{{question.enc_preg}}</p>
      </div> -->

        <ion-list radio-group [(ngModel)]="rspas[i]">
          <ion-item-divider class="dividerOption">
              <p class="titulo">{{question.enc_preg}}</p>
          </ion-item-divider>
      <div *ngFor="let option of question.options">
        <ion-item>
           <ion-label><p>{{option.dep_opci}}</p></ion-label>
            <ion-radio color="primarydw" checked="false" value = {{option.den_cont}}></ion-radio>
          </ion-item>
      </div>
    </ion-list>
    </ion-item-group>
  <button *ngIf="rspas" class="enviar" ion-button block color="secondarydw"  (click)="send()">Enviar
<ion-icon name="ios-send"></ion-icon>
  </button>
</ion-content>
<ion-footer>
  <div class="footer">
    <div class="img">
  <img src="assets/logooscuro.png"><br>
  <p>SEVEN ERP©1992-2017 Digital Ware</p>
    <p>Versión 17.10.01.01</p>
</div>
</div>
</ion-footer>
