<!--
  Generated template for the AskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <ion-title>Encuesta</ion-title>
     <button ion-button icon-only menuToggle>
  <ion-icon name="menu"></ion-icon>
</button>
  </ion-navbar>
</ion-header>


<ion-content>

    <ion-item-group *ngFor="let question of questions">
      <div class="element">

        <ion-label>{{question.enc_preg}}</ion-label>

      </div>
        <ion-list radio-group>
      <div *ngFor="let option of question.options">
        <ion-item>
           <ion-label>{{option.dep_opci}}</ion-label>
            <ion-radio color="dark" checked="false" value = {{option.den_cont}}></ion-radio>
          </ion-item>
      </div>
    </ion-list>
    </ion-item-group>



</ion-content>
