page-ask {
  button{
    bottom :0px !important;
    position: absolute !important;
  }
  .element {
    font-weight: bold;
padding-left: 5px;
min-height: 40px;
background-color: color($colors,secondarydw);
color: color($colors,fourthdw);
font-size: 20px;
ion-label{
  margin:0px !important;
  padding-top: 5px;
  white-space: normal;

}
  }
  ion-list{
    margin:0px !important;
  }
  ion-item{
  //  background-color: color($colors,light) !important;
  }

}
