<!--
  Generated template for the PonentesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-header>
  <ion-navbar color="primarydw">
    <ion-title>Conferencistas</ion-title>
     <button color="light" ion-button icon-only menuToggle>
  <ion-icon name="menu"></ion-icon>
</button>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
<ion-list>

  <button ion-item *ngFor="let speaker of speakers" (click)="goToDetalle(speaker)">
    <ion-avatar item-start *ngIf="speaker.con_foto">
      <img [src]="'data:image/jpg;base64,'+speaker.con_foto | image" />
    </ion-avatar>
    <h2>{{speaker.ter_noco}}</h2>
     <p>{{speaker.con_perf}}</p>
  </button>

</ion-list>
</ion-content>
