page-ponentes {
  ion-content{
    background-color: #F2F2F2 !important;
    background-image: none !important;
  }
  .item-block{
    border-bottom: 1px solid #CCCCCC !important;
        min-height: 8.4rem !important;
  }
.item-inner{
  border-bottom: 0px !important;
}
  ion-avatar{
    img{
      width:55px !important;
      height:55px !important;
      border: 3px solid #D9D9D9;
    }
  }



}
