page-ponentes {
  ion-content{
    background-color: transparent !important;


  }

  ion-avatar{
    img{
      width:55px !important;
      height:55px !important;
      border: 3px solid #D9D9D9;
    }
  }

  .item-block .item-inner {
      padding-right: 8px;
      border-bottom: 0px !important;
  }
  .item-block{
    border-bottom: 1px solid #CCCCCC !important;
        min-height: 8.4rem !important;
  }


}
