<!--
  Generated template for the PonentesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-header>
  <ion-navbar  [style.background-color]="customColors.rev_colp">
    <ion-title>Expositores</ion-title>
    <button  ion-button icon-only menuToggle>
  <ion-icon name="menu"></ion-icon>
  </button>
  </ion-navbar>
</ion-header>

<ion-content  [style.background-color]="customColors.rev_colp">
  <ion-searchbar
  [(ngModel)]="value"
  (ionChange)="getItems($event.value)"
  [showCancelButton]="shouldShowCancel"
  placeholder="Buscar">
</ion-searchbar>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

<ion-list>

  <button ion-item *ngFor="let speaker of speakerList" (click)="goToDetalle(speaker)"  [style.background-color]="customColors.rev_cols">
    <ion-avatar item-start *ngIf="speaker.con_foto">
      <img [src]="'data:image/jpg;base64,'+speaker.con_foto | image" />
    </ion-avatar>
    <p class="titulo"  [style.color] ="customColors.rev_coll">{{speaker.ter_noco}}</p>
     <p class="texto"  [style.color] ="customColors.rev_coll">{{speaker.con_perf}}</p>
  </button>

</ion-list>
</ion-content>
<ion-footer>
<nogal-footer>
</nogal-footer>
</ion-footer>
