page-calendario{
  ion-footer{
    //background-color: color($colors,primarydw);
  }
  .profile-media{
    img{
      margin:0px;
      max-width: 100% !important;
      // max-height: 50%;
      border-radius: 0% !important;
      border: 0px solid !important;
      border-color: color($colors,primarydw);
    }
  }
  .element {
font-weight: bold;
padding-left: 5px;
min-height: 40px;
background-color: color($colors,secondarydw);
font-size: 15px;
text-align: center;
ion-label{
  margin:0px !important;
  padding-top: 10px;
  color:color($colors,fourthdw);
}
  }
ion-content{
//  background-color: COLOR($colors,secondarydw) !important;



}

}
