// http://ionicframework.com/docs/v2/theming/
ion-title{
  font-family: yellowtail;
}
h2{
  font-family: yellowtail;
}
body{
  font-size: 1.7rem;
}
.searchbar-input{
  font-family: arial;
}
.toolbar-title-md {
  overflow: visible;
    padding: 0 12px;
    font-size: 3rem;
    color: #424242;
}
.toolbar-title-ios {
    overflow: visible;
    padding: 0 12px;
    font-size: 3rem;
    color: #424242;
}
 .menu-inner{
  .item-ios {
//     padding-left: 16px;
//     border-radius: 0;
//     position: relative;
//     font-size: 1.7rem;
 background-color: transparent;
//     transition: background-color 200ms linear;
 }
 .item-md{
   background-color: transparent;
 }
 }

.logoSevenApp{
 text-align: center;
 background-color: whitesmoke;
 border-bottom: 1px solid lightgrey;
  img{
    width: 150px !important;
  height: 50px;
  margin-top: 10px;
  }
}


// .item-ios.item-block .item-inner{
//     border-bottom: 0px !important;
// }
// .list-ios > .item-block:first-child, .list-ios > .item-wrapper:last-child .item-block  {
//       border-bottom: 0px !important;
// }
// .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
//     border-bottom: 0px !important;
// }
// .item-md.item-block .item-inner {
//     border-bottom: 0px !important;
// }
// .item-md {
//   background-color: transparent;
// }
// .list-md .item-input:last-child{
//   border-bottom: 0px !important;
// }
// .itemMenu{
//     border-bottom: 0px !important;
//       background-color: transparent;
// }

ion-content {
background-image: url('../assets/fondo1.jpg');
}
.dw-footer{
  font-family: ptSans;
  width: 100%;
  text-align: center;
  //opacity: 0.5;
  font-size: 6pt;
  background-color: white;
  .copyright{

    img{
  height: 20px;
  width: 60px;
  text-align: right;

    }
  }

}
.faGreen {
   color: #28a54c;
}
.faOrange {
   color: #ff6600;
}
.faLightBlue {
   color: #31C0E6;
}
.faYellow{
   color: #f2c100;
}
ion-footer{
  border-top: 1px solid lightgray;
}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
