// http://ionicframework.com/docs/v2/theming/

p{
  font-family: OpenSans-Light;
  text-align: justify;
  color:#8e9093;
  font-size: 1.5rem !important ;
}
.titulo{
  font-family: OpenSans;
}
.texto{
font-family:  OpenSans-Light;
}
.dividerOption{
    background-color: color($colors,primarydw) !important;
  p{
      color:color($colors,fourthdw) !important;
  }


}
.profile-media {
overflow: hidden;
position: relative;
background-color: color($colors,secondarydw);
img{
     margin:5px;
     max-width:50%;
     height: auto;
     // max-height: 50%;
     border-radius: 50%;
     border: 5px solid white;
}
}
ion-menu{
  .item-block{
    border-bottom: 1px solid !important;
    border-color: color($colors,fourthdw) !important;
  }
  ion-label{
      color:color($colors,fourthdw) !important;
  }
  ion-icon {
    margin-right: 15px !important;
  }
p{
  color:color($colors,fourthdw) !important;
}
}


.submit-btn {
  background-color: color($colors,primarydw);
 border-radius: 10px !important;
 color: color($colors,fourthdw) !important;
}
.register-btn {
 color: color($colors,fourthdw);
font-size: 0.9em;
text-decoration: underline;
}
.item-divider-md{
      background-color: #f7f7f7;
}
ion-title{
  font-family: Handlee;
  font-weight: 400 !important;
  text-align: center;
}

.element {
padding-left: 5px;
padding-right: 5px;
background-color: color($colors,secondarydw);
font-size: 20px;
color:color($colors,fourthdw) !important;
font-family: OpenSans-Light;
  }

.searchbar-input{
  font-family:OpenSans-Light;
}
.toolbar-title-md {
  overflow: visible;
    padding: 0 12px;
  //  font-size: 3rem;
    color: #424242;
    font-weight: 400;
}
.toolbar-title-ios {
    overflow: visible;
    padding: 0 12px;
    //font-size: 3rem;
    color: #424242;
    font-weight: 400;
}
 .menu-inner{
   ion-title{
     padding: 0px !important;
   }
  .item-ios {
 background-color: transparent;
 }
 .item-md{
   background-color: transparent;
 }
 }

.logoSevenApp{
 text-align: center;
 background-color: transparent;
 border-bottom: 0px solid lightgrey;
  img{
    width: 150px !important;
  height: 50px;
  margin-top: 10px;
  }
}
ion-content {
//background-image: url('../assets/fondodigital3.jpg');
background-color:color($colors,primarydw) !important;
}

ion-footer{
border-top: 0px;
}
.footer{
  .img{
        text-align: center;
    img{
      width: 24%;
      height:auto;
    }
  }
  p{
   font-size: 0.8rem !important;
   font-family: OpenSans;
   color:color($colors,fourthdw);
   text-align: center;
   margin-top: 1px;
   margin-bottom: 0px;
 }
}

.login-content {
  ion-icon {
      display: inline-block;
      font-size: 1.8em;
  }
  ion-row {
     align-items: center;
     text-align: center;
   }

   ion-item {
       border-radius: 10px !important;
       padding-left: 10px !important;
       font-size: 0.9em;
       margin-bottom: 10px;
       border: 1px solid #ffffff;
       border-bottom: 0px !important;
       box-shadow: none !important;
   }



   .item-inner {
     border-bottom-color: #ffffff !important;
     box-shadow: none !important;
   }

   button[disabled], [ion-button][disabled] {
       opacity: 0.8 !important;
   }
}
