// http://ionicframework.com/docs/v2/theming/

.menu-inner{
  .item-ios {
    padding-left: 16px;
    border-radius: 0;
    position: relative;
    font-size: 1.7rem;
    background-color: transparent;
    transition: background-color 200ms linear;
}
.logoSevenApp{
  text-align: center;
  img{
    min-width:200px;
  }
}

.menuSeven {
    font-size:1.0rem;
}
.input-wrapper
{
    font-weight: 200;
}

.item-ios.item-block .item-inner{
    border-bottom: 0px !important;
}
.list-ios > .item-block:first-child, .list-ios > .item-wrapper:last-child .item-block  {
      border-bottom: 0px !important;
}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: 0px !important;
}
.toolbar-title-ios {
    font-weight: 200;
}
.item-md.item-block .item-inner {
    border-bottom: 0px !important;
}
.item-md {
  background-color: transparent;
}
.list-md .item-input:last-child{
  border-bottom: 0px !important;
}


.item-ios p {
    overflow: inherit;
    font-size: 1.4rem;
    line-height: normal;
    text-overflow: inherit;
    margin: 0 0 2px;
}
.input-wrapper {
    font-weight: 500 !important;
}
.toolbar-title-ios {
  font-weight: 600;
}
}
ion-content {
background-image: url('../assets/fondo1.jpg');
}
.dw-footer{
  width: 100%;
  height: 30px;
  padding: 10px;
  text-align: center;
  opacity: 0.5;
  font-size: 7pt;
}
.faGreen {
   color: #28a54c;
}
.faOrange {
   color: #ff6600;
}
.faLightBlue {
   color: #31C0E6;
}
.faYellow{
   color: #f2c100;
}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
