// http://ionicframework.com/docs/v2/theming/
 // .toolbar-title-md{
 //    color:white;
 //  }
 //  .toolbar-title-ios{
 //     color:white;
 //   }

.toolbar-background-ios {
  background-color: transparent !important;
  border-style:hidden ;
  border-width: 0px !important;
}
.toolbar-background-md{
  background-color: transparent !important;
  border-style:hidden ;
  border-width: 0px !important;
}
.slideR{
  position: absolute;
  top: 50px;
  right: 10px;
}
.slideL{
  position: absolute;
  top: 50px;
  left: 10px;
}
.slideF{
  position: absolute;
  bottom: 25px;
  right: 10px;
}
.menuicon{
  width: 25px;
  height: 25px;
}
ion-content{
//  background-color: color($colors,secondarydw) !important;
}
.item-ios.activated{
background-color: transparent;
opacity: 0.5 !important;

}
.menuToggle{
  background-image: url('../assets/nogalicon.png') !important;
}
.toolbar-background-ios {
  background-color: transparent !important;
  border-style:hidden ;
  border-width: 0px;
}
p{
  font-family: OpenSans-Light;
  text-align: justify;
  //color:#8e9093;
  font-size: 1.5rem !important ;
}
.titulo{
  font-family: OpenSans;
//  color:black !important;
}
.titulo-claro{
  font-family: OpenSans;
  //color:black !important;
}
.texto{
font-family:  OpenSans-Light;
}
.dividerOption{
  //  background-color: color($colors,secondarydw) !important;
    font-weight: bold;
  p{
    //  color:color($colors,fourthdw) !important;
      font-size: 1.8rem !important;
  }


}
.profile-media {
overflow: hidden;
position: relative;
//background-color: color($colors,secondarydw);
img{
     margin:5px;
     width:100%;
     max-height: 400px;
     // max-height: 50%;
     border-radius: 50%;
     border: 5px solid white;
}
}
ion-menu{
  .item-block{
    border-bottom: 1px solid !important;
  //  border-color: color($colors,fourthdw) !important;
  }
  ion-label{
    //  color:color($colors,fourthdw) !important;
  }
  ion-icon {
    margin-right: 15px !important;
  }
p{
//  color:color($colors,fourthdw) !important;
}
}


.submit-btn {
//background-color: color($colors,secondarydw);
 border-radius: 10px !important;
 //color: color($colors,fourthdw) !important;
}
.register-btn {
 //color: color($colors,fourthdw);
font-size: 0.9em;
text-decoration: underline;
}
.item-divider-md{
    //  background-color: #f7f7f7;
}
ion-title{
  font-weight: 400 !important;
  padding-top: 2px !important;

}
.toolbar.statusbar-padding:first-child ion-title{
    min-height: 44px !important;
    height: 44px !important;
}
.toolbar-ios{
  min-height: 44px !important;
  padding: 4px !important;
}
.element {
padding-left: 5px;
padding-right: 5px;
//background-color: color($colors,secondarydw);
font-size: 20px;
//color:color($colors,fourthdw) !important;
font-family: OpenSans-Light;
  }

.searchbar-input{
  font-family:OpenSans-Light;
}
.toolbar-title-md {
  overflow: visible;
    padding: 0px;
  //  font-size: 3rem;
    //color: color($colors,fourthdw);
    font-weight: 400;
}
.toolbar-md {
    padding: 4px;
    min-height: 44px;
}
.toolbar-title-ios {
  text-align: center;
    overflow: visible;
    padding: 0 12px;
    font-size: 2.5rem;
    //color: color($colors,fourthdw);
    font-weight: 400;
}
 .menu-inner{
   ion-title{
     padding: 0px !important;
   }
  .item-ios {
 background-color: transparent;
 }
 .item-md{
   background-color: transparent;
 }
 }

.logoSevenApp{
 text-align: center;
 background-color: transparent;
 border-bottom: 0px solid lightgrey;
  img{
    width: 150px !important;
  height: 50px;
  margin-top: 10px;
  }
}
ion-content {
//background-image: url('../assets/fondodigital3.jpg');
//background-color:color($colors,primarydw) !important;
}

ion-footer{
border-top: 0px;
//border-bottom: 2px solid color($colors,secondarydw);
}
.footer{
  margin-top: 2px !important;
  .img{
        text-align: center;
    img{
      width: 24%;
      height:auto;
    }
  }
  p{
   font-size: 0.8rem !important;
   font-family: OpenSans;
   //color:color($colors,fourthdw);
   text-align: center;
   margin-top: 1px;
   margin-bottom: 0px;
 }
}

.login-content {
  ion-icon {
      display: inline-block;
      font-size: 1.8em;
  }
  ion-row {
     align-items: center;
     text-align: center;
   }

   ion-item {
       border-radius: 10px !important;
       padding-left: 10px !important;
       font-size: 0.9em;
       margin-bottom: 10px;
       border: 1px solid #ffffff;
       border-bottom: 0px !important;
       box-shadow: none !important;
   }



   .item-inner {
     border-bottom-color: #ffffff !important;
     box-shadow: none !important;
   }

   button[disabled], [ion-button][disabled] {
       opacity: 0.8 !important;
   }
   .fingerprint{
     img{
     width: 42%;
     height: auto;
   }
   p{
    // color:white;
     font-weight: bold;
   }
   }

}
