

<ion-menu id="loggedInMenu" [content]="content" >
  <ion-header>
    <ion-toolbar color="primarydw">
      <ion-title>Club El Nogal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!-- <div class="logoSeven">
      <div class="logoSevenApp">
      <img src="assets/digital.png">
    </div>
    </div> -->
    <ion-item>
       <ion-avatar item-start>
       <img src="assets/user.jpg">
       </ion-avatar>
       <h2>{{user}}</h2>
    <p>Club El Nogal</p>
     </ion-item>
    <ion-list no-lines>
      <div padding>
     </div>
      <button  *ngFor="let menu of pages" ion-item (click)="abrirPagina(menu)">
        <ion-icon name='{{menu.icon}}' color="fourthdw" isActive='{{menu.isActive}}'></ion-icon>&nbsp;{{menu.name}}
      </button>
    </ion-list>

  </ion-content>
</ion-menu>
<ion-menu id="loggedOutMenu" [content]="content" >
  <ion-header>
    <ion-toolbar color="primarydw">
      <ion-title>Club El Nogal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!-- <div class="logoSeven">
      <div class="logoSevenApp">
      <img src="assets/digital.png">

    </div>

    </div> -->
    <ion-list no-lines>
      <div padding>
     </div>
      <button  *ngFor="let menu of pagesOut" ion-item (click)="abrirPagina(menu)">
        <ion-icon name='{{menu.icon}}' color="fourthdw" isActive='{{menu.isActive}}'></ion-icon>&nbsp;{{menu.name}}
      </button>
    </ion-list>

  </ion-content>
</ion-menu>
<ion-footer>
  <!-- <div class="dw-footer">
    <div class="copyright">
        <img src="assets/digital.png">
    </div>
</div> -->
</ion-footer>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
