<ion-header>
  <ion-navbar color="primarydw">
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar
  [(ngModel)]="value"
  (ionChange)="getItems($event.value)"
  [showCancelButton]="shouldShowCancel"
  placeholder="Buscar">
</ion-searchbar>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
    <button ion-item *ngFor="let sponsor of sponsorsList" (click)="goSponsor(sponsor)">
      <ion-avatar item-start *ngIf="sponsor.pat_foto">
     <img [src]="'data:image/jpg;base64,'+sponsor.pat_foto | image" />
      </ion-avatar>
      <p class="titulo">{{sponsor.pat_nomb}}</p>
       <p>{{sponsor.pat_desc}}</p>
    </button>




</ion-content>
