<ion-header>
  <ion-navbar  [style.background-color]="customColors.rev_colp">
    <ion-title>Restaurantes</ion-title>
    <button color="light" ion-button icon-only menuToggle>
  <ion-icon name="menu"></ion-icon>
</button>
  </ion-navbar>
</ion-header>

<ion-content  [style.background-color]="customColors.rev_colp">
  <ion-searchbar
  [(ngModel)]="value"
  (ionChange)="getItems($event.value)"
  [showCancelButton]="shouldShowCancel"
  placeholder="Buscar">
</ion-searchbar>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
    <button  [style.background-color]="customColors.rev_cols" ion-item *ngFor="let sponsor of sponsorsList" (click)="goSponsor(sponsor)">
      <ion-avatar item-start *ngIf="sponsor.pat_foto">
     <img [src]="'data:image/jpg;base64,'+sponsor.pat_foto | image" />
      </ion-avatar>
      <p  [style.color] ="customColors.rev_coll"  class="titulo">{{sponsor.pat_nomb}}</p>
       <p  [style.color] ="customColors.rev_coll">{{sponsor.pat_desc}}</p>
    </button>



</ion-content>
<ion-footer>
<nogal-footer>
</nogal-footer>
</ion-footer>
