<ion-header>
  <ion-navbar color="primarydw">
    <ion-title>Agenda</ion-title>
    <button color="light" ion-button icon-only menuToggle>
  <ion-icon name="menu"></ion-icon>
</button>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-group *ngFor="let schedule of schedules">
      <div class="element">
        <ion-label>{{schedule.date}}</ion-label>
      </div>
      <div *ngFor="let activity of schedule.agendas">
      <ion-item-divider sticky>
        <ion-label class="HourSeparator">
          {{activity.age_hori}}
        </ion-label>
      </ion-item-divider>
      <ion-item tappable (click)="openSchedule(activity)">
          <h3>  {{activity.age_acti}}</h3>
          <p>
           Hasta las {{activity.age_horf}}
          </p>
      </ion-item>
      <ion-item-sliding  [hidden] ="activity.ter_codi==0" (click)="openSpeaker(activity)">
        <button ion-item class="itemSpeaker">
        <ion-avatar item-start>
        <img [src]="'data:image/jpg;base64,'+activity.con_foto | image" />
        </ion-avatar>
        <h3>{{activity.ter_noco}}</h3>
      </button>
      </ion-item-sliding>
      </div>
    </ion-item-group>



  </ion-list>




</ion-content>
