page-schedule {
  ion-content{
    background-color: transparent !important;
  }
  h3{
    color:color($colors,fontprimary) !important;
  }
  .itemSpeaker{
    h3{
        font-weight: bold !important;
    }

  }
  .HourSeparator{
    font-weight: bold;
    color:color($colors,secondarydw) !important;
  }
.element {
font-weight: bold;
padding-left: 5px;
height: 40px;
background-color: color($colors,secondarydw);
font-size: 20px;
color:color($colors,fourthdw) !important;
  }
  ion-label{
    margin:0px !important;
    padding-top: 5px;
  }
  ion-item-divider{
    background-color: color($colors,fourthdw) !important;
  }
  .item-inner{
    border-bottom: 0px !important;
  }
 }
