<ion-header>
  <ion-navbar color="primarydw">
    <ion-title>Agenda</ion-title>
    <button color="light" ion-button icon-only menuToggle>
  <ion-icon name="menu"></ion-icon>
</button>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-group *ngFor="let schedule of schedules">
    <ion-item-divider class="dividerOption">
        <p class="titulo">{{schedule.date}}</p>
      </ion-item-divider>
      <div *ngFor="let activity of schedule.agendas">
      <ion-item-divider>
        <p class="titulo">
          {{activity.age_hori}}
        </p>
      </ion-item-divider>
      <ion-item tappable (click)="openSchedule(activity)">
          <p class="titulo">  {{activity.age_acti}}</p>
          <p class="texto">
           Hasta las {{activity.age_horf}}
          </p>
      </ion-item>
      <ion-item-sliding  [hidden] ="activity.ter_codi==0" (click)="openSpeaker(activity)">
        <button ion-item class="itemSpeaker">
        <ion-avatar item-start>
        <img [src]="'data:image/jpg;base64,'+activity.con_foto | image" />
        </ion-avatar>
          <p class="titulo">{{activity.ter_noco}}</p>
      </button>
      </ion-item-sliding>
      </div>
    </ion-item-group>



  </ion-list>




</ion-content>
