page-schedule {
  ion-footer{
    //background-color: color($colors,primarydw);
  }
  ion-content{
    //  background-color: whitesmoke !important;
  }
  ion-label{
    margin:0px !important;
    padding-top: 5px;
  }
  // .content-ios{
  //   background-color:inherit !important;
  // }
  // .content-md{
  //   background-color:inherit !important;
  // }
 }
